{% extends 'base.html' %}
{% block body %}

<div class="container">
    <p class="space-150"> </p>
        <div class="text-center h-100 p-3">
            <h1 class="font1 word-pink">AVタイトルクリエイター</h1>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
                <p class="space-100"> </p>
                <button type="button" onclick="location.href='/touroku'" class="btn btn-primary btn-lg">ゲームスタート!</button>
              </div>
        <div class="d-grid gap-2 col-7 mx-auto">
            <p class="space-100"> </p>
            <button type="button" onclick="location.href='/titlelist'" class="btn btn-primary">みんなのAVタイトル集</button>
            </div>
        </div>
{% endblock %}